* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  height: 100vh;
  background-color: darkslategray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:2vh;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}
header > h1 {
  color: aliceblue;
  font-family: cursive;
}
.current-size{
  color: aliceblue;
  font-size: 1.5rem;
}
.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 100%;
}
.btn {
  padding: 8px;
  border: none;
  border-radius: 35px;
  background-color: olive;
  color: aliceblue;
  font-size: 15px;
  font-weight: 700;
}
.btn:hover {
  transition: 0.2s;
  font-size: 18px;
  letter-spacing: 2px;
  background-color: yellow;
  color: black;
  cursor: pointer;
}
.grid-container {
  display: grid;
  height: 70%;
  width: 70%;
  justify-content: center;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
}

